#app-wrapper {
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    height: calc(100vh - 20px);

    display: grid;
    grid-template-areas:
    "navbar content";
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}


#navbar-wrapper {
    grid-area: navbar;
    padding: 10px;
    background-color: #74b6ed;
    border-radius: 10px;
    text-align: center;
}

#content-wrapper {
    grid-area: content;
    background-color: #74b6ed;
    border-radius: 10px;
}